@import "../../assets/sass/theme";
@import "../../index.css";

body {
    text-align: left;
    font-size: 14pt;
}

.projectsContainer {
    height: 100%;
    width: 100vw;
    background-color: $light-purple;
}

.projectGrid { 
    width: 95vw;
}

.projectImg {
    height: 15vh;
    text-align: left;
    border-radius: 7px;
}


.project {
    width: 80vw;
    max-width: 500px;
    margin: 12px;
}

.project:hover {
    animation: shadowTest 0.5s ease forwards;
    cursor: pointer;
}

@keyframes rightSlide {
    0%   {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(20px);
    }
}

@keyframes shadowTest {
    0%   {
        box-shadow:0px 1px 8px 0px rgba(0, 0, 0, 0.2),
        0px 3px 4px 0px rgba(0, 0, 0, 0.14),
        0px 3px 3px -2px rgba(0, 0, 0, 0.12);
    }
    100% {
        box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
        0px 7px 10px 1px rgba(0, 0, 0, 0.14),
        0px 2px 16px 1px rgba(0, 0, 0, 0.12); 
        transform: scale(1.05);
    }
}

@keyframes shadowGrow {
    0%   {
        box-shadow: none;
        transform: scale(1.00);
    }
    100% {
        box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12); 
        transform: scale(1.01);
    }
}
