@import "../../assets/sass/theme";
@import "../../index.css";

body {
    text-align: left;
}

.projectsContainer {
    height: 100%;
    width: 100vw;
    background-color: $light-purple;
}

.projectImg {
    height: 15vh;
    text-align: left;
    border-radius: 7px;

}

.project {
    transition: 0.5s;
    margin-left: calc(5vw);
    margin-top: 10px;
    margin-bottom: 10px;
}

.project:hover {
    animation: rightSlide 0.5s ease forwards;
}

@keyframes rightSlide {
    0%   {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(20px);
    }
}