@import "../../assets/sass/theme";
@import "../../index.css";

body {
    text-align: left;
    font-size: 14pt;
}

.sectionTitle {
    width: 200px;
}

.jobsContainer {
    height: 100%;
    width: 100vw;
    background-color: $pink;
}

.jobImg {
    width: calc(1vw + 50px);
}

.jobDetails {
    flex-direction: column;
}

.job {
    flex-direction: column;
    border-radius: 7px;
}

.mobileLinkout{
    display: none;
    margin-left: 10px;
    margin-top: 3px;
}

@media only screen and (min-width: 570px) {
    .jobDetails {
        flex-direction: row;
    }
    .job {
        flex-direction: row;
        padding: 0;
    }
}

@media only screen and (max-width: 570px) {
    .mobileLinkout {
        display: block;
    }
    .linkout {
        display: none;
    }
}

.linkout {
    opacity: 0;
}

.job:hover .linkout {
    animation: external 0.3s ease forwards;
}

.job:hover {
    animation: shadow 0.5s ease forwards;
    cursor: pointer;
}

@keyframes shadow {
    0%   {
        box-shadow: none;
        transform: scale(1.00);
    }
    100% {
        box-shadow:0px 1px 8px 0px rgba(0, 0, 0, 0.2),
        0px 3px 4px 0px rgba(0, 0, 0, 0.14),
        0px 3px 3px -2px rgba(0, 0, 0, 0.12);
        transform: scale(1.01);
    }
}

@keyframes external { 
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}