@import "../../assets/sass/theme";
@import "../../index.css";

body {
    text-align: left;
}

.jobsContainer {
    height: 100%;
    width: 100vw;
    background-color: $pink;
}

.jobImg {
    width: calc(3vw + 30px);
}

.job {
    // transition: 0.5s;
    // margin-left: calc(5vw);
    // margin-top: 10px;
    // margin-bottom: 10px;
}
