@import "../../assets/sass/theme";
@import "../../index.css";

body {
    text-align: left;
}

.jobsContainer {
    height: 100%;
    width: 100vw;
    background-color: $pink;
}

.jobImg {
    width: calc(1vw + 50px);
}

.jobDetails {
    flex-direction: column;
}

.job {
    flex-direction: column;
}

@media only screen and (min-width: 570px) {
    .jobDetails {
        flex-direction: row;
    }
    .job {
        flex-direction: row;
    }
}