@import "../../assets/sass/theme";
@import "../../index.css";

body {
    font-size: 14pt;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Roboto Condensed';
    padding: 0px;
    position: fixed;
    right: 0;
    background-color: $white;
    opacity: 0.8;
    width: 100vw;
    top:0;
    z-index: 2;
}

.leftHeader {
    margin-left: 24px;
    padding-top: 8px;
}

.rightHeader {
    display: flex;
    margin-right: 24px;
    padding: 16px 0;
}

.nav {
    text-decoration: none;
    color: $dark-gray;
    margin: 0 calc(5px + 1vw);
    
}

.nav:hover {
    animation: headerLink 0.2s ease forwards;
    cursor: pointer;
}

@keyframes headerLink {
    0%   {
        color: $dark-gray;
    }
    100% {
        color: $turquoise;
    }
}

.logo{
    width: 40px;
    height: auto;
    top:0;
    left:0;
}

#topBtn:hover #logoGray {
    animation: logoLink 0.2s ease forwards;
    display: block;
}

@keyframes logoLink {
    0%   {
        color: $turquoise;
    }
    100% {
        color: $dark-gray;
    }
}

#topBtn #logoGray {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }

#topBtn {
    position: relative;
}
