@import "../../assets/sass/theme";
@import "../../index.css";

.headerContainer {
    font-family: 'FuturaCondensed';
    padding: 15px 30px;
    position: fixed;
    right: 0;
    // background-color: $white;
    background-image: linear-gradient(to left, $white 0%, rgba(255,255,255,0) 40%);
    opacity: 0.8;
    width: 100vw;
    top:0;
    z-index: 2;
}

a.nav {
    text-decoration: none;
    color: $dark-gray;
    margin: 0 5px;
    text-transform: uppercase;
}

a.nav:active, a.nav:visited {
    color: $dark-gray;
}

.nav a:focus {
    color: $dark-gray;
}

a.nav:hover {
    color: $turquoise;
}