@import "../../assets/sass/theme";
@import "../../index.css";

body {
    font-size: 14pt;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'FuturaCondensed';
    padding: 0px;
    position: fixed;
    right: 0;
    background-color: $white;
    opacity: 0.8;
    width: 100vw;
    top:0;
    z-index: 2;
}

.leftHeader {
    margin-left: 24px;
    padding-top: 8px;
}

.rightHeader {
    display: flex;
    margin-right: 24px;
    padding: 16px 0;
}

.nav {
    text-transform: capitalize;
}

.nav {
    text-decoration: none;
    color: $dark-gray;
    margin: 0 5px;
    text-transform: uppercase;
}

.nav:hover {
    color: $turquoise;
    cursor: pointer;
}

.logo{
    width: 40px;
    height: auto;
    top:0;
    left:0;
}

#topBtn:hover #logoGray {
    display: block;
}

#topBtn #logoGray {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }

#topBtn {
    position: relative;
}
