@import "../../assets/sass/theme";

.projectDetContainer {
    padding: 15px;
    background-color: $light-purple;
    height: 100%;
}

.returnText {
    color: $turquoise; 
    font-size: 12pt;
    margin-left: 5px;
}

.return:hover {
    animation: leftSlide 0.5s ease forwards;
}

.projectTitle {
    margin-top: 0;
    font-size: calc(20px + 1vw);
    color: $turquoise;
    font-family: "FuturaBold";
}

.subtitle {
    color: $dark-gray;
    font-size: 14pt;
}

#bannerImg {
    width: 50vw;
    height: 100%;
    margin: 2vw;
}

.body {
    margin: 0 10vw;
    color: $dark-gray;
    font-size: 12pt;
}

@keyframes leftSlide {
    0%   {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-10px);
    }
}