@import "../../assets/sass/theme";

.projectDetContainer {
    padding: 15px;
    background-color: $light-purple;
}

.returnText {
    color: $turquoise; 
    font-size: 12pt;
    margin-left: 5px;
}

.return:hover {
    animation: leftSlide 0.5s ease forwards;
}

.title {
    margin-top: 0;
    font-size: calc(20px + 1vw);
    color: $turquoise;
    font-family: "FuturaBold";
}

.subtitle {
    color: $dark-gray;
    font-size: 14pt;
}

@keyframes leftSlide {
    0%   {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-10px);
    }
}