@import "../../assets/sass/theme";
@import "../../index.css";

body {
    font-size: 14pt;
}

.footerContainer {
    font-family: 'FuturaCondensed';
    margin: 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    flex-wrap: wrap;
}

a.external {
    text-decoration: underline;
    color: $turquoise;
    margin: 0 5px;
    text-transform: uppercase;
}

a.external:active, a.external:visited {
    color: $turquoise;
}

a.external:hover {
    color: $dark-gray;
}

.credit {
   color: darken($light-purple, 10%);
   margin: 0 32px;
}

#emoji {
    padding-left: 5;
}