@import "../../assets/sass/theme";
@import "../../index.css";

@media screen and (max-width: 530px) {
    #emoji {
        display: none;
    }

    .credit {
        margin-bottom: 10px;
    }
}

body {
    font-size: 14pt;
}

.footerContainer {
    margin: 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    flex-wrap: wrap;
}

a.external {
    text-decoration: underline;
    color: $turquoise;
    margin: 0 5px;
    font-weight: bold;
}

a.external:active, a.external:visited {
    color: $turquoise;
}

a.external:hover {
    color: $light-blue;
}

.credit {
   color: darken($light-purple, 10%);
   margin-left: 32px;
   margin-right: 32px;
}

#emoji {
    padding-left: 5px;
    margin-top: -5px;
}
