@import "./index.css";
@import "./assets/sass/_theme.scss";

.App {
  text-align: center;
  font-family: "Futura";
  font-size:16pt;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #09d3ac;
}

.italic {
  font-family: "FuturaOblique";
}

.leftAlign {
  text-align: left;
}

.turquoise {
  color: $dark-gray;
}