@font-face {
  font-family: 'FuturaBold';
  src: local('FuturaBold'), url(./assets/fonts/FuturaLT-Bold.woff) format('woff');
}

@font-face {
  font-family: 'FuturaOblique';
  src: local('FuturaOblique'), url(./assets/fonts/FuturaLT-Oblique.woff) format('woff');
}

@font-face {
  font-family: 'FuturaCondensed';
  src: local('FuturaCondensed'), url(./assets/fonts/FuturaLT-Condensed.woff) format('woff');
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
